[2018-01-20 22:54] unv-annihilator opened #3 "v0.1.4 docs.rs build failed"
Documentation does not exist for the latest release due to a build error on docs.rs:
https://docs.rs/crate/binance/0.1.4/builds/82547

[2018-02-08 03:20] PaoloBenigni opened #5 "ring does not compile. needs to be updated."
with nightly builds ring 12.1 does not compile. update to  .13

[2018-02-08 20:33] wisespace-io commented on #5
@PaoloBenigni I tried Ring 0.12.1 with rustc 1.25.0-nightly (29c8276ce 2018-02-07) and it builds.

I upgraded Ring 0.13 anyway.

[2018-02-08 20:55] #5 closed

[2018-02-11 18:43] wisespace-io opened #6 "Add Example: How to manage a local order book"
See "How to manage a local order book correctly" in the link below to implement the example.

https://github.com/binance-exchange/binance-official-api-docs/blob/master/web-socket-streams.md

[2018-05-09 06:08] wisespace-io commented on #3
It seems that docs.rs has upgraded Rust.
Documentation is not broken.
I will close this issue.

[2018-05-09 06:08] #3 closed

[2018-05-22 23:38] gregsifr opened #11 "How to save websocket stream to file? File object is out of scope in callback function"
The csv crate requires a file object to write to CSV. How can this fileobject be passed/accessed from within a method such as `day_ticker_handler`? From my understanding the callback parameters are set to: `&self, events: &[DayTickerEvent]` which means that `wtr` is out of scope inside `day_ticker_handler`.

[code]

Here is a link to `day_ticker_handler` example in the repository:
https://github.c

[2018-05-23 20:17] wisespace-io commented on #11
You would just need to implement WebSocketHandler and pass the CSV Object to it, see example below:

[code]

However, this code would not compile, unless you change the day_ticker_handler() signature in the DayTickerEventHandler Trait from `fn day_ticker_handler(&self, event: &[DayTickerEvent]);`

To: `fn day_ticker_handler(&mut self, event: &[DayTickerEvent]);`

[2018-05-24 18:49] wisespace-io commented on #11
@gregsifr I added a new example to the project as it can be useful to someone else.

https://github.com/wisespace-io/binance-rs/blob/master/examples/src/binance_save_all_trades.rs

It uses a RefCell as the wrt is mutable, so I don't need to change the api interface. However I may change it in the future. I am going to close this issue, okay?

[2018-05-25 00:03] gregsifr commented on #11
Thank you, this is perfect :+1:

[2018-05-25 00:03] #11 closed

[2018-05-29 18:53] #6 closed

[2018-06-18 06:17] robsaunders opened #13 "Bad Request errors."
Today, binance started returning Bad Request errors using this library. Other libraries seem to work as do curl requests, so I assume it's something about the signature generation.

Every request will return an error.

[code]

[2018-06-18 06:35] robsaunders commented on #13
That's weird. By itself, it came back up. Must have been some issue on binances end - might be worth noting that everything else DID work for me... strange.

[2018-06-18 06:35] #13 closed

[2018-09-04 06:37] JoshuaBatty opened #15 "Unable to connect to more than one markets orderbooks"
Hi sorry to bother you again @wisespace-io ... i've been pulling my hair out this morning trying to connect to more that one markets orderbook stream.

A small example is something like this

[code]

I event tried copying the market_websocket() method in the binance_websocket example, gave the two methods different names, e.g  market_websocket1() & market_websocket2(). Inside each one I tried to s

[2018-09-04 06:43] JoshuaBatty commented on #15
I might add, that after collecting every market into a HashMap and doing the following loop (as you can do in bitfinex-rs completely fine) takes about 10 minutes to get through the whole loop.

It seems the call to connect() blocks for some time, as opposed to the subscribe_books() method in bitfinex-rs... Is this a limitation on this crate or binance's side?

[code]

[2018-09-04 19:26] wisespace-io commented on #15
@JoshuaBatty The binance websockets service is not based on Subscription as the Bitfinex api (Only one connection). You would need to spawn different threads per connection/eventloop. We would need to investigate a better war of doing it.

[2018-09-05 05:59] JoshuaBatty commented on #15
Thanks @wisespace-io I have it working with binance-rs already :)
The following code works just fine with this crate as it already is. I'm happy to close this issue now. Thanks again!
[code]

[2018-09-05 05:59] #15 closed

[2018-09-05 06:59] wisespace-io commented on #15
Good to know. It is probably good to update the examples in case someone else ask again.

[2019-06-12 04:08] drbh opened #23 "Getting prices that match the UI"
This is a great project and very useful in a project I'm working on.

However I can't seem to connect to the websocket correctly to get prices that match the web UI's price

I've followed the example code on the README at `WEBSOCKETS - TRADES`

[code]

But for example - as I'm writing:
[code]

#### How should I change the websocket to get prices that match the UI?

[2019-06-12 18:31] wisespace-io commented on #23
It depends what you want to match. Are you talking about the **last price** information in the UI?
In that case, you should use current_close field.

    let mut web_socket: WebSockets = WebSockets::new(|event: WebsocketEvent| {
        match event {
            WebsocketEvent::DayTicker(ticker_events) => {
                for tick_event in ticker_events {
                    if tick_event.symbol

[2019-06-12 19:12] drbh commented on #23
ha silly mistake! I was just reading through the code sample `average price` looked strange. Thanks so much. `current_close` is exactly what I am looking for!

[2019-06-12 19:12] #23 closed

[2019-06-20 19:40] jcageman opened #24 "panic on losing internet connection in websockets"
When running websockets event_loop() and any errors occur the program panics immediately, it would be nice to be able to recover from such an error and try connecting again to the websockets api.
Here everything is being unwrapped, instead of actually returning an error in the event_loop such that any external caller could recover from them.
websockets.rs:
`let msg: String = socket.0.read_message(

[2019-06-21 08:46] wisespace-io commented on #24
@jcageman yes, definitely.  I noticed that I do some check in the bitfinex event_loop and also has on_error event

https://github.com/wisespace-io/bitfinex-rs/blob/master/src/websockets.rs#L201

[2019-06-30 09:56] wisespace-io commented on #24
@jcageman I updated the library, so we should be able to catch the disconnection errors. Please check the latest version and the examples. Once you get the error you can decide your re-connection strategy.

For example, it may sleep for 5 seconds and try to connect again, see how I handle such behaviour in my another crate

https://github.com/wisespace-io/nettfiske/blob/master/src/main.rs#L114

[2019-06-30 12:10] jcageman commented on #24
@wisespace-io thanks for the fix! I already fixed it locally, but i prefer to depend directly on the github version!

[2019-06-30 12:10] #24 closed

[2019-07-24 09:11] antoncoding opened #26 "Error on sample get_depth"
Fail to make sample `get_depth` api call.
[code]

## Result
[code]

### Cargo version
`cargo 1.35.0 (6f3e9c367 2019-04-04)`

[2019-07-24 10:49] wisespace-io commented on #26
@antoncoding I released a new version with a fix, could you try it?

[2019-07-24 13:44] antoncoding commented on #26
@wisespace-io It's working perfectly now! thanks for the quick fix!

[2019-07-24 13:44] #26 closed

[2019-08-18 16:49] LucasSimpson opened #28 "Build failed with tungstenite and ring"
Excuse if this is a naive question, as I'm new to Rust -

With the version bumps, I'm unable to build. Specifically, I get the following errors:
1) ring 0.16.7: error[E0658]: use of unstable library feature 'alloc': this library is unlikely to be stabilized in its current form or name (see issue #27783)
2) tungstenite 0.9.1: error[E0505]: cannot move out of `request` because it is borrowed

[2019-08-18 17:56] wisespace-io commented on #28
Interesting, the build is passing as you can see the Badge in the repository. I tried locally a clean build to confirm. Which Rust version are you using? Which OS? linux?

I have  rustc 1.37.0 (eae3437df 2019-08-13)

Could you try the step below?  Please, let me know the outcome

    cargo clean
    cargo update
    cargo build --release

[2019-08-23 22:14] LucasSimpson commented on #28
I'm on:

`rustc 1.35.0 (3c235d560 2019-05-20)`

cargo build --release still gives the following:
[code]

However, when I upgraded Rust to `rustc 1.37.0 (eae3437df 2019-08-13)` then the build passes.

[2019-08-23 22:14] #28 closed

[2019-08-31 16:22] drbh commented on #28
👍This was helpful - maybe it should be included in the docs?

[2019-08-31 17:32] wisespace-io commented on #28
@drbh I added a note to the README

[2019-09-06 14:58] unterkontrolle opened #31 "Support for /api/v3/order/test endpoint"
Hi!

Are you interested in supporting the [Test new order](https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#test-new-order-trade) endpoint?

From an interface point of view, two options come to my mind:
1. Adding a test version for each existing function related to new orders. Example: now we have `Account::limit_buy`, `Account::limit_sell`, etc. and we could a

[2019-09-06 15:54] wisespace-io commented on #31
@unterkontrolle Yes, I think it would be a nice addition to the library. I would prefer first option. Feel free to submit a PR, it is welcome.

[2019-09-17 17:50] unterkontrolle commented on #31
I'll have it ready by the end of this week.

[2019-09-20 11:52] #31 closed

[2019-12-14 19:17] jnicholls opened #34 "async/await compatible -- reqwest 0.10 alpha"
This API would be phenomenal if it were completely async/await ready. reqwest 0.10 now supports it, so it is a natural upgrade to this to start decorating the whole api with async/await.

[2019-12-15 10:38] wisespace-io commented on #34
@jnicholls It sounds as a good idea. I am not familiar with the new async/await feature, I can take a look and try to integrate.

[2019-12-19 21:44] fredfortier opened #35 "Keep WS User Stream Alive"
I'm subscribing to the WS user stream as per the "WEBSOCKETS - USER STREAM" section of the README. I noticed that it seems to disconnect (no longer receiving updates) after several hours. I also subscribe to the `!ticker@arr` stream in the same connection (like this:`format!("{}/!ticker@arr", answer.listen_key)`) but the ticker stream stays connected.

Where do you suggest I begin troubleshooting

[2019-12-19 22:33] fredfortier commented on #35
I see that there is a `keep_alive` method in `UserStream`. Is the idea that I should periodically call this method on a separate thread? Any pointers on how to properly use this method would be appreciated.

[2019-12-20 07:51] wisespace-io commented on #35
@fredfortier Yes, it should be called periodically, see the link below

https://binance-docs.github.io/apidocs/spot/en/#listen-key-spot

    Keepalive a user data stream to prevent a time out. User data streams will close after 60 minutes. It's recommended to send a ping about every 30 minutes.

[2019-12-20 20:39] fredfortier commented on #35
I tested this overnight and confirm that it works.

[2019-12-20 20:39] #35 closed

[2019-12-20 20:47] fredfortier opened #36 "Breaking the event_loop"
I want to subscribe to a user stream up until a certain point (e.g. all open orders filled), then close the stream. I'm blocking a thread like this to watch the stream: `ws.event_loop()`. I don't see any method for this in the `WebSockets` struct. Is there a recommended way to break the loop?

If not, I can submit a PR. Any guidance on that would be appreciated.

[2019-12-21 09:48] wisespace-io commented on #36
@fredfortier Unfortunately, there is not. Feel free to submit a PR.

Ps.: I will be unresponsive for few days, xmas holiday.

[2019-12-28 07:21] vorot93 commented on #34
I think that at this point it may be better to switch the codebase to [my fork](https://github.com/vorot93/binance-async-rs) since it's fully compatible with async/await and tokio 0.2.

[2019-12-31 10:08] wisespace-io commented on #36
@fredfortier I added a way to break the event_loop, not sure if it is the best solution. Basically, it allows the user breaks the event loop on application level by using a Boolean.

In the example below, it watches the Bitcoin price and if it reaches 7300, it breaks the event loop and disconnects from the websocket.

    fn last_price() {
        let keep_running = AtomicBool::new(true); // It is

[2019-12-31 12:43] wisespace-io commented on #34
@vorot93 I will update the README to refer your fork, so we can give the user the option of sync/async versions. Something that we can also do is what has been done in my another project, https://github.com/wisespace-io/yubico-rs where the sync/async version is in the same repository.

Do you think it would be too much work to do the same here? Feel free to submit a PR and I can add you as a maint

[2020-02-26 13:01] wisespace-io commented on #36
@fredfortier I will close this issue, please reopen it if it did not work as expected. I will also add async support in a few days to the library.

[2020-02-26 13:01] #36 closed

[2020-03-29 09:19] vorot93 commented on #34
I'd be in favor of unifying the crates into one and making a common organization for various exchange APIs like Binance or [HitBTC](https://github.com/vorot93/hitbtc-rs).

[2020-04-09 03:55] AlexApps99 opened #39 "Futures API"
From what I can tell, this crate does not support the Binance's [Futures API](https://binance-docs.github.io/apidocs/futures/en/).

Are there any branches/alternate crates that support the API?

Alternatively, are there any plans to add the API to this crate?

Thanks

[2020-04-09 09:00] wisespace-io commented on #39
I am not aware of Binance's Futures implementation in Rust.
It could be supported in this crate, as far as I can see from the docs we can reuse most of the data models we have currently.

[2020-04-09 10:02] AlexApps99 commented on #39
I would be willing to help if you need a hand with this

[2020-04-10 08:31] wisespace-io commented on #39
@AlexApps99 You are welcome. I will try to do first draft on weekend so we can start helping with the implementation of the futures api.

[2020-04-12 18:12] wisespace-io commented on #39
@AlexApps99 I created the base implementation, see https://github.com/wisespace-io/binance-rs/tree/master/src/futures

I just implemented the general api, I was able to reuse some structs in Exchange Information data model, but the Symbols struct was different as you can see in futures/model.rs, so I guess it will not be always possible to reuse the models.

[2020-04-12 22:39] AlexApps99 commented on #39
Excellent, I'll get started implementing the market API.

[2020-04-12 23:01] AlexApps99 commented on #39
While looking at `src/market.rs`, I noticed that some functionality is unimplemented:
[code]

Should I omit the futures version of these functions too?

[2020-04-13 07:51] wisespace-io commented on #39
I think we could include, if you do not mind to implement. Otherwise, I can add later.

[2020-04-13 22:06] AlexApps99 commented on #39
I have created a draft PR (#41) to show my progress and get feedback, hopefully I'll have completed it by the end of this week.

[2020-04-14 07:26] wisespace-io commented on #39
It looks like good, I noticed that you added a comment to get_historical_trades, stating that it may requires API key, however, looking at the docs, It does not seen a signed request.

[2020-04-14 07:31] AlexApps99 commented on #39
The documentation is wrong:
`http "https://fapi.binance.com/fapi/v1/historicalTrades" symbol=="BTCUSDT"`
[code]

[2020-04-15 05:21] AlexApps99 commented on #39
I've done further investigation, and I believe that functionality documented with `(MARKET_DATA)` are only accessible by API key

[2020-04-15 05:57] AlexApps99 opened #42 "Crate uses Rust 2015"
I will be working on a PR to update this crate to Rust 2018

[2020-04-15 10:15] wisespace-io commented on #39
I checked the binance implementation of the futures API. You can use for reference.

https://github.com/Binance-docs/Binance_Futures_python/blob/master/binance_f/impl/restapirequestimpl.py#L173

Requires:
    request = self.__create_request_by_get_with_apikey("/fapi/v1/historicalTrades", builder)

Dont require:

    request = self.__create_request_by_get("/fapi/v1/aggTrades", builder)
    request

[2020-04-15 11:25] #42 closed

[2020-05-04 15:56] clementpl opened #44 "[BUG] Exchange info deserializer not working"
Hello,

First, thank you for your work.
I'm moving a project from nodejs which is using ccxt to rust and I was really happy to found this library to going faster.
But I found something weird when using the General api.
It looks like there is a problem while deserializing exchange information

[code]

I'm getting this error

[code]

I look at the 1399 column of the exchange info result
Which after

[2020-05-04 18:29] wisespace-io commented on #44
@clementpl Acccording to the documentation it should have a "limit", so it may be optional now, or it always was but not stated in the docs.

https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#filters

Anyway, added an Option, so it will not break again.

    MaxNumOrders { limit: Option<u16> },

Thank you for reporting.

[2020-05-04 18:50] clementpl commented on #44
Perfect thank you

[2020-05-05 08:19] #44 closed

[2020-05-05 08:42] clementpl opened #45 "Get better informations return by market buy request"
Hello,

I'm actually using the market_buy/market_sell api for a trading bot.
But the return of those function is not very helpfull.
I first get a transaction object (after "market_buy").
With this transaction object i can then make a request "order_status" but unfortunately the return of order status don't give me info about the price or commission.

Here is the actual return of market_buy (transa

[2020-05-05 09:39] clementpl commented on #45
After testing the solution with an Option property fills.
I can tell you the solution is not working because there is many different field
time is now transact_time, there is no stop price, ...
So in local I made a 2 new struct
[code]

And i made the market_buy and market_sell return a MarketOrder

[code]

For me it's enough, I can get all the information I need.
I don't know how you want to do fo

[2020-05-05 09:42] clementpl commented on #45
We can even remove the Option on the fills property because there is always a fills property when making market_buy/sell

[2020-05-05 13:25] mpskowron commented on #45
I've done similar thing in my fork of binance-async-rs (https://github.com/mpskowron/binance-async-rs/commit/00777b54aca51a9f1ac4a807606f13066309e1c3) - I'll probably submit a pull request to async version of this library this week. Would be great if this and async version merged.
MarketOrder is not a correct name here - according to binance docs (https://github.com/binance-exchange/binance-offici

[2020-05-05 17:03] wisespace-io commented on #45
@clementpl Could you submit a Pull Request? I think your solution would suit well for other as well.
@mpskowron I am going to add async support to this library as soon as the Future API is implemented, see the open Pull Request.

[2020-05-07 06:25] wisespace-io commented on #45
@clementpl just to let you know that after merging I realized that some fields should be f64, such as commision, so I updated them

[2020-05-07 07:43] clementpl commented on #45
Yes thanks to the rust compiler I saw that haha :)
Thank you

[2020-05-07 07:44] #45 closed

[2020-05-13 22:36] AlexApps99 commented on #39
I haven't been able to find the time to finish my PR, so I hope what I have done is enough for now

[2020-06-05 05:32] #39 closed

[2020-06-05 05:44] AlexApps99 commented on #39
Not all of the Futures API has been implemented yet, so a new issue should be made to track the other parts of the API

[2020-06-25 17:23] canesin commented on #34
Hey guys, we at [Nash](https://nash.io/) are sponsoring a MIT licensed (and forever MIT) project for a Rust based trading SDK (with wrappers in several languages). We will be assigning a full time engineer to be fully dedicated to it and reward contributions. Maybe you bunch have interest in that?

[2020-06-25 17:30] jnicholls commented on #34
@canesin I would be very interested to participate in that project.

[2020-06-25 22:33] canesin commented on #34
@jnicholls , @vorot93 , @wisespace-io add me in Telegram ( @canesin < FCC > ) and let's do a call. There are a few other contributors that I was planning to invite, I saw @dovahcrow has built atop of this library and that @sebnow and @AlexApps99 have contributed significantly before.

[2020-06-26 00:11] dovahcrow commented on #34
@canesin yea I'm happy to merge my async version of binance to this repo.

[2020-06-26 11:38] canesin commented on #34
I don't know if @wisespace-io is following this thread: I created a slack for the new project https://join.slack.com/t/openlimitsworkspace/shared_invite/zt-fbtlnsva-fFaHHb2zSdc77Vrk7ayhSw

[2020-07-21 13:11] emmtte opened #47 "Error with kindle websocket"
Hi, I follow your exemple code for websocket kindle and have an error
[code]
Error :

[code]

[2020-07-21 19:23] wisespace-io commented on #47
It needs to import AtomicBool, see below

[code]

For more examples, see https://github.com/wisespace-io/binance-rs/blob/master/examples/binance_websockets.rs

[2020-07-21 21:57] emmtte commented on #47
Thanks @wisespace-io, work like as expected

[2020-07-21 21:57] #47 closed

[2020-07-22 13:55] emmtte opened #48 "Docs about multiple symbols for kindle stream"
Hi,

Any docs about multiple symbols for kindle stream?

I try :

[code]

without success

With nodejs I use an array of symbols

see : https://github.com/Ashlar/binance-api-node#candles-1

[2020-07-24 11:47] wisespace-io commented on #48
@emmtte Interesting, we would need to implement it. Currently not supported. It seems a nice feature. I will try to implement when I got sometime, or feel free to submit a PR.

[2020-08-11 21:23] mankinskin commented on #34
Is there any plan for this? @dovahcrow and @vorot93 , I have tried using your crates, but it seemed to be structured differently than this crate, and I couldn't figure out how to use it yet. Also your crates seem to be using a Future based API still, which might not be necessary anymore, since [async/await has been stabalised](https://blog.rust-lang.org/2019/11/07/Async-await-stable.html). Would l

[2020-08-11 22:03] canesin commented on #34
@mankinskin https://github.com/nash-io/openlimits

[2020-08-11 22:11] dovahcrow commented on #34
@mankinskin Thanks for your try on the library. `binance-async-rs` is a library built a long time ago when Rust doesn't have `async/await` stabilized. I'm sorry that I personally don't have the bandwidth for updating the code for `binance-async-rs` in the near future. However, I would suggest you have a try on the `openlimits` as @canesin mentioned. It looks like they have the code from `binance-a

[2020-08-11 22:54] mankinskin commented on #34
Sounds great guys :+1:  Thanks everyone!

[2020-08-12 07:04] wisespace-io commented on #34
I am closing this issue as async feature is already provided by a different forks.

[2020-08-12 07:04] #34 closed

[2020-08-29 03:16] kenneth opened #55 "how to set proxy?"
RT,how to set a proxy?

[2020-08-29 07:57] wisespace-io commented on #55
currently it is not possible, it needs to be implemented in the api

https://docs.rs/reqwest/0.10.6/reqwest/struct.Proxy.html

[2020-08-30 22:25] kenneth commented on #55
python-binance can use proxy, i hope rust can use。i will try this method.

[2020-08-31 21:13] shtelzerartem opened #56 "Messages from websocket stream are queued"
Hi, thank you for developing this project, it's really great! I'm interested in how to deal with queuing websockets responses.
Here is a code example to explain, what I'm interested in.
[code]
For example, if we received "ADA/USDT" event at 01:00:00, after 5 seconds delay we will receive the rest of the data from 01:00:00 to 01:00:05, which I`m not interested in. Is there a way to check if the eve

[2020-09-03 07:00] wisespace-io commented on #55
@kenneth As soon as I have some time, I will add support for proxy in the api. So, I will keep it open as a reminder to myself.

[2020-09-05 13:46] kenneth commented on #55
OK，very nice，proxy is very important feature

[2020-09-22 19:09] McYoloSwagHam opened #57 "Websocket, DayTickerEvent is no longer a vector."

[2020-09-22 19:11] McYoloSwagHam opened #58 "Websocket, DayTickerEvent is no longer a vector in Single Symbol Tickers."
Line 103 in websockets.rs
[code]

according to my debugging, `msg.as_str()` returns a json structure that isn't an array
[code]

The way to fix this would be

To change the type to not be a Vec in that code, and in the Enum WebsocketEvents, for individual tickers this is the case

[2020-09-22 19:25] #57 closed

[2020-09-24 17:21] wisespace-io commented on #58
@McYoloSwagHam I released a new version with a possible fix. Now, we have DayTicker and DayTickerAll

If you want an individual symbol, you should use DayTicker, see example.

https://github.com/wisespace-io/binance-rs/blob/master/examples/binance_websockets.rs#L168

[2020-09-24 17:30] wisespace-io commented on #56
Not sure if I understood what you want to do, but it sounds like https://github.com/binance-exchange/binance-official-api-docs/blob/master/web-socket-streams.md#how-to-manage-a-local-order-book-correctly

The crate does not provide such functionality, you can implement as explained in the binance docs

[2020-09-26 08:21] #58 closed

[2020-12-09 22:01] gabriel-milan commented on #6
Hi, first of all thank you for your amazing work! Were you able to put it to work with tectonicdb?

[2020-12-14 13:05] wisespace-io commented on #6
@gabriel-milan Thank you. Actually no. I think it can be done caching in memory,

See how the python library implements: https://github.com/sammchardy/python-binance/blob/master/binance/depthcache.py

[2020-12-14 16:05] gabriel-milan commented on #6
Yeah, I've worked with this Python library on [this project](https://github.com/gabriel-milan/btrader) before, and then decided to rewrite it in Rust for learning purposes. I've managed to put it to work with Rust, but I'm really not sure this is the best way.

[2020-12-14 16:23] wisespace-io commented on #6
@gabriel-milan Ok, I see. In this case, we may try https://docs.rs/crate/tectonicdb/0.5.2 ... it is a database to manage order book  ticks, so it may be more suitable for your project. It does not seen to be hard to use, based on documentation.

[2020-12-14 18:54] gabriel-milan commented on #6
That's probably correct, I'll take a look at it. Thank you very much!

[2020-12-24 23:58] MichalLebeda opened #61 "Testnet API"
Hi, would like to include testnet API there. It is only necessary to create client with https://testnet.binance.vision instead of https://api.binance.com. As I'm new to Rust, what would be the ideal implementation? Should I make parameter to ```new(...)``` function or create new trait function for example ```new_testnet(...)```?

[2020-12-25 00:28] MichalLebeda opened #62 "Stop orders"
Hi, would like to use stop orders but I'm a bit confused, does this crate implement stop orders? It seems like it doesn't but not sure. Official API documentation contains:
* LIMIT
* MARKET
* STOP_LOSS
* STOP_LOSS_LIMIT
* TAKE_PROFIT
* TAKE_PROFIT_LIMIT
* LIMIT_MAKER

[2021-01-02 22:29] wisespace-io commented on #62
@MichalLebeda It is not implemented. It is an important feature but I did not have time to test and implement it.

[2021-01-02 22:39] wisespace-io commented on #61
@MichalLebeda See how Futures API (FAPI) is implemented in https://github.com/wisespace-io/binance-rs/blob/master/src/api.rs

Is testnet different from the current one supported in this crate? We have some test endpoints, see

https://github.com/wisespace-io/binance-rs/blob/master/src/account.rs#L19

[2021-01-03 01:51] MichalLebeda commented on #61
@wisespace-io
Testnet has the same endpoints as the normal api. It even contains test endpoints. It is only necessary to use another address (different credentials buts that's user's responsibility).
Anyway I have found out that testnes is rather strange (It seems that it is completely isolated market so any backtesting is impossible)

[2021-01-03 01:58] MichalLebeda commented on #62
Initially I though about implementing it myself but I don't trade on binance anymore. Maybe I will in the future

[2021-01-16 16:40] #62 closed

[2021-02-07 03:51] motters opened #64 "Stop limits on buy and sell"
Super cool crate, works perfectly.

However is is possible when summitting a buy or sell order to use a [stop-limit](https://www.binance.com/en/support/articles/360033779452-Types-of-Order)?

I've take a quick look and can't see the feature in your library. Looking at [Binance's api ](https://binance-docs.github.io/apidocs/spot/en/#new-order-trade) it does show it's possible.

If this features doe

[2021-02-07 10:24] wisespace-io commented on #64
@motters  Glad that the crate is useful to you. Regarding your question, Stop Loss is nor supported in the crate yet.

You could try to extend custom_order, but I would just create a new method, stop_loss_order.

[2021-02-09 00:06] motters commented on #64
@wisespace-io Alright sweet, I'll sort a pull request out once it's done.

[2021-02-13 08:07] dorak88783 commented on #61
@wisespace-io  I'd also like this feature. There's info at https://testnet.binance.vision:

replacing the URLs of the endpoints with the following values:

Spot API URL | Spot Test Network URL
-- | --
https://api.binance.com/api | https://testnet.binance.vision/api
wss://stream.binance.com:9443/ws | wss://testnet.binance.vision/ws
wss://stream.binance.com:9443/stream | wss://testnet.binance.vision

[2021-02-14 01:36] naviialto commented on #44
I found the error "missing field `minNotional`" in FuturesGeneral::exchange_info().

[code]

After modifying the source for the above reasons, it runs success.

[code]

[2021-02-15 14:56] wisespace-io commented on #44
@naviialto Thank you for reporting, I will fix it!

[2021-02-15 15:10] wisespace-io commented on #61
@dorak88783 It depends on how it will be used. I recently noticed that Binance has introduced API clusters .. see

https://github.com/binance/binance-spot-api-docs/blob/master/rest-api.md#general-api-information

I thought to create a build with default values and we could set these APIs, something like I do in my yubico API,
We could overwrite these settings:

   let config = Config::default()

[2021-02-16 11:17] dorak88783 commented on #61
I thought about something like `web_socket.set_binance_api("https://testnet.binance.vision/api").connect()` but that would need modification in many places.

I think your way is nicer, I'll give it a shot. I only don't know yet how to skip all of this when using the default settings, so maybe it should be a `web_socket.use_config(config).connect()` or `web_socket.connect_with_config(config)`.

[2021-02-16 15:16] dorak88783 opened #65 "Using orderQuoteQty in market orders"
If you look at the API docs (https://github.com/binance/binance-spot-api-docs/blob/master/rest-api.md#new-order--trade) for the `MARKET` order, one can specify either `quantity` or `quoteOrderQty`. The latter seems not to be implemented.

How can I do this in a nice way? My only way was to duplicate `pub fn market_buy` into a `pub fn market_buy_using_quote_quantity` which uses a `OrderQuoteQuantit

[2021-02-17 18:24] dorak88783 opened #66 "cancel_all_open_orders should return OrderCanceled type"
The function `account.cancel_all_open_orders` aims to return `Vec<Order>`, but this doesn't work:

    Error: Error(Json(Error("missing field `stopPrice`", line: 1, column: 313)), State { next_error: None, backtrace: IntenalBacktrace })

It should be OrderCanceled.

From the API https://github.com/binance/binance-spot-api-docs/blob/master/rest-api.md#cancel-all-open-orders-on-a-symbol-trade I see

[2021-02-19 14:52] DartMen commented on #61
Nice project!

I too was looking for a way to run on net.binance.vision and the builder pattern would have my preference as well.

[2021-02-23 12:47] arekbal opened #69 "WebSocket @trade not supported"
Thank you for your work, overall.

But ;)
I couldn't receive any `Trade` events.

I found this part in websocket processing(stream to events):
[code]

Its wrong, according to this:
https://github.com/binance/binance-spot-api-docs/blob/master/web-socket-streams.md#trade-streams

`aggrTrade` only happens when you subscribe to `@aggrTrade`.
'trade' is the one it should respect - `@trade`.

EDIT: Upon

[2021-02-28 11:11] dorak88783 opened #72 "Using sessions in the reqwest handling"
The current code will open a new HTTPS sessions for each request.
The underlying reqwest library seems to be capable using the session capability to re-use connections (see https://docs.rs/reqwest/0.11.1/reqwest/, "NOTE: If you plan to perform multiple requests, it is best to create a Client and reuse it, taking advantage of keep-alive connection pooling.").

It seems to make sense anyway to refac

[2021-02-28 11:25] wisespace-io commented on #72
@dorak88783 I was just discussing it with @DartMen, see https://github.com/wisespace-io/binance-rs/pull/71
It is not done. You can sync with @DartMen, not sure if will submit a new PR

[2021-02-28 11:32] DartMen commented on #72
Im just checking how to feed the singleton client nicely into the Binance.new(**inner_client**, None, None) constructor so it is reused. But im new in Rust so any tip is welcome how to accomplish this, there is some info in #71 about current status

[2021-02-28 13:10] dorak88783 commented on #72
Haha nice, I had this on my mind for a few days and just opened a ticket, didn't see the parallel PR activity :)

[2021-02-28 13:18] DartMen commented on #72
Well I was fiddling in my fork and didn't bother to create a ticket but just serve up a pull-request. I reopened the pr as it is working already with multiple inner_clients per endpoint.

My aim was to have just 1 inner_client used for all endpoints, but that was unfolding into a major refactor which I don't have time for right now.

[2021-02-28 15:22] DartMen commented on #55
Watch out with using proxies as Binance has a very high security policy. On reddit there are stories of people got lock-out of their accounts by using a vpn.

Just saying..

[2021-03-01 06:19] gmale opened #74 "Add Binance.US support"
Can this library be modified to make it easier to use with Binance.US? In most cases, this involves using endpoints like `api.binance.us` instead of `api.binance.com`. As far as I'm aware, the APIs are identical.

In most places, static constants seem to be used for defining hosts, particularly when it comes to websockets. It might be nice to create an Enum of supported hosts and then allow that t

[2021-03-01 09:00] dorak88783 commented on #74
This can be added to the scope of issue https://github.com/wisespace-io/binance-rs/issues/61; there's a proposal there how to implement this.

[2021-03-01 15:23] #69 closed

[2021-03-08 12:38] dorak88783 commented on #65
Closed in https://github.com/wisespace-io/binance-rs/pull/73.

[2021-03-08 12:38] #65 closed

[2021-03-08 12:39] dorak88783 commented on #72
Closed in https://github.com/wisespace-io/binance-rs/pull/71

[2021-03-08 12:39] #72 closed

[2021-03-08 12:55] #66 closed

[2021-03-10 13:50] wisespace-io commented on #74
@gmale We just released a new version which supports this. Please check https://github.com/wisespace-io/binance-rs#testnet-and-api-clusters
Kudos to @dorak88783

[2021-03-10 13:56] dorak88783 commented on #61
Should be fixed in https://github.com/wisespace-io/binance-rs/pull/75.

[2021-03-22 12:25] #74 closed

[2021-03-26 02:03] ppamorim commented on #64
@motters Please check the PR #83.

[2021-03-30 03:47] MrNbaYoh opened #87 "Auto(?) merge for pull-request #83 breaks everything"
The auto (?) merge for pull request #83  on commit f8f7efdd530f3a319a71058740eb3ed16d740f14 introduces duplicate declarations & other merging-related issues leading to compilation errors.

[2021-03-30 06:30] wisespace-io commented on #87
@MrNbaYoh I think it will be fixed when we merge https://github.com/wisespace-io/binance-rs/pull/84, @ppamorim right?

[2021-03-30 09:29] ppamorim commented on #87
@wisespace-io This was caused because #85 was merged before #84. I opened a PR reverting these changes.

[2021-03-30 11:03] #87 closed

[2021-04-02 12:12] ppamorim commented on #64
@wisespace-io Could you please close the issue?

[2021-04-02 15:16] #64 closed

[2021-04-02 16:46] #61 closed

[2021-04-09 07:01] lasys opened #94 "Future WebSocket Support"
Hey,

first of all: great project - thanks!

I am already using the DayTickerAll WebSocket as shown in the README, and would now like to use the Future WebSockets.
I have seen that there are already models and code for it, but it seems that it is not ready yet.

My question now is whether it is already being developed further, or if I should develop it further myself and then submit a pull request

[2021-04-09 10:41] wisespace-io commented on #94
@lasys Future API is in very early stage with few features implemented.

 The websockets support is missing and needs to be implement.

Feel free to submit a PR.

[2021-04-20 12:49] nopbit opened #97 "Typo in api.rs Spot::Ticker24hr"
Hello,

Thanks for sharing this wonderful library. I believe there is a typo in api.rs, we need to add "r" at the end of the address. It is causing 404 error.

currently:
Spot::Ticker24hr => "/api/v3/ticker/24h",

correct:
 Spot::Ticker24hr => "/api/v3/ticker/24h**r**",

Best regards,
Mustafa

[2021-05-09 05:55] yovanoc opened #100 "Futures account API"
Hello, great lib, but when are you planning to add account apis for futures? to place order, etc all methods needed for real futures trading

Thanks

[2021-05-11 08:20] VeprUA opened #102 "KlineSummary Serialization"
Hi I don't know if this was asked before, but i noticed that KlineSummary struct doesn't implement Serialize/Deserialize macro. Was that intentional by design?

The use case for me would be getting historical data and saving it locally to test against.

Would this be something that I can make a PR for?

[2021-05-12 18:40] #97 closed

[2021-05-12 18:41] wisespace-io commented on #102
@VeprUA Yes, you can create a PR for it. We just missed it.

[2021-05-15 16:53] AnsterDev commented on #102
can someone help me please, i have tried to do the implementation to it but i cant.

impl<'de> Deserialize<'de> for KlineSummaries {

    fn deserialize<D>(deserializer: D) -> Result<Self, D::Error>
        where D: Deserializer<'de>
    {

        return KlineSummaries::deserialize(deserializer)

    }
}

[2021-05-18 05:49] AnsterDev opened #105 "Kline summary"
the trait bound `binance::model::KlineSummaries: serde::Deserializer<'_>` is not satisfied

the trait `serde::Deserializer<'_>` is not implemented for `binance::model::KlineSummaries`

note: required by `serde::Deserialize::deserialize`rustc(E0277)
main.rs(255, 58): the trait `serde::Deserializer<'_>` is not implemented for `binance::model::KlineSummaries`

any can help me please?

[2021-05-18 06:51] wisespace-io commented on #105
@AnsterDev Is not enough just to add the Serialize, Deserialize macros?

    #[derive(Debug, Serialize, Deserialize, Clone)]
    pub enum KlineSummaries {
       AllKlineSummaries(Vec&lt;KlineSummary&gt;),
    }

[2021-05-18 18:46] AnsterDev commented on #105
it's the first thing i did, but still this problem appears, i even put the macros to klinesummary, :/

[2021-05-18 20:03] AnsterDev commented on #105
@wisespace-io  I have done the placing of the macros, but it appears when I modify the repository in git, the changes are not reflected in main.rs, it is as if it were the original repository, and it was blocked from changes, do you know how to solve it?

[2021-05-19 06:35] wisespace-io commented on #105
@AnsterDev Not sure what's going on in your side. Anyway, I added the macros and did not get any error. Please check the latest release 0.13.3

[2021-05-19 06:36] wisespace-io commented on #102
@VeprUA I added the macros in the release 0.13.3, let me know if it is working in your side.

[2021-05-19 20:38] AnsterDev commented on #105
the macros already appear in the new update, but this appears:
 -------------------------------------------------------------------------
 match market.get_klines(symbol, interval, limit, None, None){
        Ok(answer) => {
            let deserialized  = binance::model::KlineSummaries::deserialize(answer);
            println!("{:#?}",  deserialized);
        }
        Err(e) => println!("Error:

[2021-05-19 20:51] AnsterDev commented on #105
[code]

[2021-05-19 20:56] AnsterDev commented on #105
the macros already appear in the new update, but this appears:
 -------------------------------------------------------------------------
 match market.get_klines(symbol, interval, limit, None, None){
        Ok(answer) => {
            let deserialized  = binance::model::KlineSummaries::deserialize(answer);
            println!("{:#?}",  deserialized);
        }
        Err(e) => println!("Error:

[2021-05-20 06:55] wisespace-io commented on #105
@AnsterDev There is a misunderstand here. You do not need to deserializer the answer, because you already get a KlineSummary, it is not a string, it is an object. I updated the example.

[2021-05-20 07:01] wisespace-io commented on #105
// last 10 5min klines (candlesticks) for a symbol:
     match market.get_klines("BNBETH", "5m", 10, None, None) {
         Ok(klines) => {
             match klines {
                 binance::model::KlineSummaries::AllKlineSummaries(klines) => {
                     let kline: KlineSummary = klines[0].clone(); // You need to iterate over the klines
                     println!(

[2021-05-20 07:03] wisespace-io commented on #102
@VeprUA See how you get the Kline values below

    // last 10 5min klines (candlesticks) for a symbol:
    match market.get_klines("BNBETH", "5m", 10, None, None) {
        Ok(klines) => {
            match klines {
                binance::model::KlineSummaries::AllKlineSummaries(klines) => {
                    let kline: KlineSummary = klines[0].clone(); // You need to iterate over the klines

[2021-05-20 12:44] #102 closed

[2021-05-21 06:25] #105 closed

[2021-05-22 10:14] wisespace-io commented on #100
@yovanoc Futures API is in very early days. But, we got some contributions recently from @chipshort and @vikulikov. Please check the latest version. Contributions are always welcome :)

[2021-05-22 22:08] KalitaAlexey opened #109 "spot depth events don't work."
106d53f810e2d21bd9801cf373b5c8fd821292af (my commit) broke spot `DepthOrderBookEvent` because it doesn't have `pu`, instead they rely on `U` and `u`.

[2021-05-23 05:45] dorak88783 commented on #109
I didn't review the last commit, but does this means there's not enough test coverage on these events?

[2021-05-23 18:42] KalitaAlexey commented on #109
Given `cargo test` succeeds, I guess you don't have tests that ensure that `DepthOrderBookEvent` can be deserialized from json.

[2021-05-24 11:35] #109 closed

[2021-05-24 14:58] VeprUA commented on #102
Sorry, I got sidetracked, thank you for taking care of this. 🙌🎉

[2021-06-21 07:21] ihsanturk opened #119 "Get klines for all symbols asynchronously"
I am trying to get klines for all symbols, I have created this function but having some problems as I am new to the Rust language. Do you have any solutions or suggestions, I also realized that there is [Igosuki/binance-rs-async](https://github.com/Igosuki/binance-rs-async), but it [lacks of ](https://github.com/Igosuki/binance-rs-async/issues/3) futures API?

My approach to get klines for all sym

[2021-06-29 06:49] wisespace-io commented on #119
@ihsanturk Sorry for the late reply, this crate does not have async support. Have you checked https://github.com/nash-io/openlimits? Not sure if they added Futures API, however they have async support.

[2021-07-01 08:40] ihsanturk commented on #119
Thanks for the , I am using [Igosuki/binance-rs-async](https://github.com/Igosuki/binance-rs-async) now.

[2021-07-01 08:40] #119 closed

[2021-07-13 14:58] lipt0n opened #122 "no TAKE_PROFIT_LIMIT"
hi, there is no TAKE_PROFIT_LIMIT order implemented
I was trying to implement it by myself but have no idea where build_signed_request is implemented

[2021-07-14 08:38] Ultraman95 opened #123 "websocket receive MarketData error"
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Error(Msg("Error during handshake URL error: Unable to connect to wss://stream.binance.com:9443/stream?streams=ethbtc@depth@100ms/bnbeth@depth@100ms"), State { next_error: None, backtrace: InternalBacktrace })'

Rust Version 1.53

[2021-07-14 08:48] Ultraman95 commented on #123
I used vpn

[2021-07-17 09:23] dorak88783 commented on #94
I made a PR at https://github.com/wisespace-io/binance-rs/pull/124.

[2021-07-18 09:00] wisespace-io commented on #100
@yovanoc Please check the latest changes in the Futures API

[2021-07-18 09:00] #56 closed

[2021-07-18 09:02] wisespace-io commented on #123
@Ultraman95 It sounds like it could be solved by adding Proxy support to this crate.

[2021-07-18 14:08] dorak88783 opened #125 "Unified approach for all future markets"
The current implementation of futures endpoints is geared mainly to the USD-M futures [(link)](https://binance-docs.github.io/apidocs/futures/en/#change-log): e.g. https://github.com/wisespace-io/binance-rs/blob/master/src/config.rs#L18 and https://github.com/wisespace-io/binance-rs/blob/master/src/api.rs#L129 all have `fapi` hardcoded, but there is also `dapi` for the COIN-M futures  [(link)](htt

[2021-07-19 06:28] wisespace-io commented on #125
@dorak88783 I also prefer the second option. I don't think it would be a major problem as I guess we have few users of the Futures api in the current state. Binance team probably did not have choice and duplicated the methods.

[2021-08-03 03:55] seguidor777 commented on #125
Escuse me, does this client support trading with futures? And is there any documentation?

[2021-08-04 08:52] wisespace-io commented on #125
@seguidor777 We do not have a documentation, you can check the Examples folder to Binance Futures Endpoint and Websockets examples with the current supported features.

[2021-08-04 15:19] LeilaMoussa commented on #119
@ihsanturk I've tried my hand at binance-rs-async before. Based on my experience, it's too outdated and poorly maintained. You could try maintaining it, but it's really fallen behind with respect to Rust Futures.

[2021-08-04 15:42] seguidor777 commented on #125
Hi @wisespace-io, thanks for sharing that. I already have seen the examples and didn't find anything about the limit buy orders creation. However looking into the code of [account.rs](https://github.com/wisespace-io/binance-rs/blob/master/src/futures/account.rs#L112) I see that it's already supported and it seems to have all the options that I need. I'll just try it, thanks for pointing me to the

[2021-08-04 19:47] ihsanturk commented on #119
Thank you @LeilaMoussa. I already ended up switching to [python-binance](https://python-binance.readthedocs.io/en/latest/) since it was easier to get go for me and supports asynchronous request natively. I thought that I would gain some performance by using Rust for high frequency trading but Python implementation was just right there. So I focused primarily on finishing my project with whatever l

[2021-08-06 12:57] #100 closed

[2021-09-06 12:48] Evanok opened #127 "Get the price of a symbol at a specific date"
Hello,

Nice job on this code ! You have really cool feature on your api
Did I miss something about the api to get price symbol  ?

I would like to be able to get the prince of a specific symbol at a specific date ? Is it possible with this api ?

Thanks,
Eva.

[2021-09-10 01:59] guotie commented on #55
and ws need proxy too....

[2021-09-11 02:49] kr011 opened #128 "Allow client order id when ordering"
Would you please allow us send in order ID as forth argument to limit_buy, and default it to None? Thank you.

[2021-09-21 13:25] StarPlatin4m opened #130 "Step Size"
With this API, there does not seem to be a way of determining the step size for certain tokens. Sometimes i recieve LOT_SIZE error, and from my research this has to do with binance only allowing certain purchase amounts for certain tokens.  At the moment i am rounding off to a fixed 6 decimals but i know that this will not apply for everything and i will come across issues eventually.

This is the

[2021-09-21 15:07] StarPlatin4m commented on #127
Yes it is.

[code]

where
- start_time is the starting time in milliseconds, can also be `None`
- end_time is the ending time in milliseconds, can also be `None`

for example, the price on january 1st 2021
[code]

You could change the `"5m"` to something else, like `"1m"` for  a smaller interval, but you get the idea

[2021-09-21 15:27] Evanok commented on #127
Thanks for your answer !

[2021-09-21 15:27] #127 closed

[2021-09-22 21:42] StarPlatin4m commented on #130
`general::Get_symbol_info` was what i needed

[2021-09-22 21:42] #130 closed

[2021-11-12 09:42] siegfried commented on #123
@wisespace-io I had this issue too, until I got rid of the port number from the URL. Need a quick fix?

[2021-11-12 11:42] wisespace-io commented on #123
@siegfried It is weird. The port is part of the url as stated in the Binance docs.

Have you tried to overwrite it? See our README - TESTNET AND API Clusters. You can set a ws url as below:

    let config = Config::default(). .set_ws_endpoint("wss://stream.binance.com/ws");
    let user_stream: UserStream = Binance::new_with_config(api_key_user, None, &config);

See where it happens, https://gith

[2021-11-12 11:53] siegfried commented on #123
Thanks. I haven't tried this crate. Great work. Will do soon. This just reminded me the issue I had in my script a few weeks ago. I just checked the document, it seems they added the port number back.

[2021-11-14 07:19] davidxiaowws opened #134 "what big number lib to use?"
any big number lib to recommend?

[2021-11-15 12:45] wisespace-io commented on #134
@davidxiaowws For financial calculations: https://crates.io/crates/rust_decimal

Also https://crates.io/crates/num-bigint

[2021-11-15 13:12] siegfried commented on #123
@wisespace-io The issue still exists. I got this error by running the example.

[code]

[code]

After remove the port number, it works.

[code]

I can help on changing the default and do some refactor if you need.

[2021-11-17 08:23] siegfried opened #136 "Data type mismatch between KlineSummary and Kline"
[OHLC data in KlineSummary](https://github.com/wisespace-io/binance-rs/blob/29c79997398364e77d20832dda2ed8af098c1194/src/model.rs#L865) is convert to `f64` while OHLC data in Kline remains in string. How about keep them all in string so they can be stored as arbitrary precision number in database?

[2021-11-17 12:00] siegfried commented on #136
And is there a need to serialize/deserialize KlineSummary model? It seems a little unnecessary since the API of Kline returns data in nested arrays, right? How about implement a `From` trait for KlineSummary?

[2021-11-17 13:39] wisespace-io commented on #123
@siegfried All binance libraries use the default port.  As this crate gives the possibility of overwrite the url, wouldn't be enough?

     let config = Config::default().set_ws_endpoint("wss://stream.binance.com/ws");

Maybe we just need to add the example to the README in case someone else has problems with the default port.  It seems more an issue with your connection. Check similar issue in ht

[2021-11-17 13:39] wisespace-io commented on #123
I will add support to Proxy, it may also help.

[2021-11-17 13:53] wisespace-io commented on #136
@siegfried Don't recall why there is this mismatch. Is Binance returning float for the Kline Summary? We could make them string indeed.

[2021-11-17 13:55] siegfried commented on #136
Binance returns string for Kline summary. https://binance-docs.github.io/apidocs/spot/en/#kline-candlestick-data

[2021-11-17 13:57] siegfried commented on #123
Add the example to the README is fine, I think. Thanks.

[2021-11-18 13:26] siegfried commented on #136
Please have a look at the the PR. Thanks. @wisespace-io

[2021-12-10 15:10] #136 closed

[2021-12-10 15:17] siegfried commented on #123
@wisespace-io There is no config option for `connect_multiple_streams`. Maybe we should make the endpoint setting global?

[2021-12-14 15:59] francesco-gaglione commented on #125
@seguidor777 I implemented a custom order type into the futures api, with my older nickname. Anyway, this is an example for limit orders:

[code]

[2022-01-10 16:29] thetrung opened #144 "keep getting "Unauthorized" when call "get_account""
I tried sample code on README :

[code]

and result didn't change :

        Error(Msg("Unauthorized"), State { next_error: None, backtrace: InternalBacktrace })
        Error(Msg("Unauthorized"), State { next_error: None, backtrace: InternalBacktrace })

I already enabled Spot Trading + Reading in API management but nothing change.

[2022-01-10 16:45] #144 closed

[2022-04-07 00:44] ebadta81 opened #146 "Precision is over the maximum defined for this asset."
Hello,

Is there an easy way, to handle f64's for account.market_buy?

I get numbers like this ```qty: 119.96000000000001``` , so no surprise, the server gives me this error message.

As I see now, it is not possible with f64, but market_buy need f64.

I consider to make a Decimal version of your asset.rs.

[2022-04-22 14:13] wisespace-io commented on #146
@ebadta81 Yes, I see the problem. In the past, I thought to use a decimal library. It is probably but I never did it.
You can use https://crates.io/crates/rust_decimal ... when I have more time, I can think an integrate to the crate.

[2022-05-30 20:37] Curlyhub commented on #122
Hi there, the same problem with me, so I fixed implementing  a simple rest post, but will be nice that u integrate it into your library. When do you think that u can make it?

[2022-06-06 18:32] SpaceMonkeyForever opened #152 "building orderbook from updates?"
It seems like you haven't implemented the functionality to build an orderbook from orderbook update events, or is there a way to do so?

[2022-06-21 13:28] qtfkwk opened #153 "missing `use binance::model::*` in readme market data example"
0.18.4 market data example in readme produces the error during `cargo build`:

[code]

fix: add `use binance::model::*;`

[2022-07-19 14:17] AntonioRossi opened #155 "receiving error code -2010 on market_buy_using_quote_quantity, it should not happen"
On the binance api documentation website: https://binance-docs.github.io/apidocs/spot/en/#change-log

_Quote Order Qty MARKET orders will not break LOT_SIZE filter rules; the order will execute a quantity that will have the notional value as close as possible to quoteOrderQty_

Placing an order with a certain amount of BTC using the function 'market_buy_using_quote_quantity' for the symbol BNBBTC

[2022-08-14 07:43] wisespace-io commented on #153
@qtfkwk Thank you for pointing it out.

[2022-08-14 07:43] #153 closed

[2022-08-14 10:12] jpmediadev opened #158 "How to handle disconnect after 24 hour?"
the event_loop()  is locked at  let message = socket.0.read_message()?;

connection disappears silently and don't receive a Message::Close() signal
how do you solve this gap?

[2022-08-15 12:27] #158 closed

[2022-08-15 12:29] jpmediadev commented on #158
solution: mark keep_running to false on timer  and  bail! from event_loop()

[2022-09-29 15:17] Swoorup commented on #119
Curious what are your preferences now after a year later. I have the same question.

[2022-10-09 12:58] danieleades opened #164 "Benchmarks are out of date"
The benchmarks don't compile, as there is no `WebSockets::new_with_subscription` method. Presumably there used to be?

Would be good to add a CI target to ensure the bench tests compile to ensure they stay aligned

[2022-10-19 06:44] danieleades opened #178 "Client construction API change"
this is a feature request

The API for constructing binance clients is a little clunky. There is a trait (`Binance`) which contains two construction methods for creating clients for different parts of the API. This trait is effectively used as a factory. I have a couple of concerns with the approach

- since the methods on the trait have to be reimplemented for each different client, the total amo

[2022-10-31 02:00] danieleades opened #186 "are the single-variant enums required?"
there are a number of single-variant enums.

eg.

[code]

they seem to be some kind of newtype pattern wrapping a `Vec` of some other object.

@wisespace-io can you explain what these are for? Is there a reason you can't use the bare Vecs?

[2022-11-12 15:55] dfmb99 opened #188 "-"
-

[2022-11-12 16:08] #188 closed